<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
</head>

<body>
<nav> 
<ul>
<li><a href='/'>HOME</a></li>
<li><a href='/users'>USERS</a></li>
<li><a href='/search'>SEARCH</a></li>
<li><a href='/form'>ADD USER</a></li>
<ul>
</nav> 

    <h1>Hi! And welcome to my users app.</h1>
    <h1>Here you can: </h1>
    <br>
    <a href='http://localhost:4000/users'><h2>See all the users</h2></a>
    <br>
    <a href='http://localhost:4000/search'><h2>Search for a user</h2></a>
    <br>
    <a href='http://localhost:4000/form'><h2>Add a user</h2></a>
    <br>

    <footer>
       <p> Made by morfsm </p>
    </footer>
</body>

</html>