<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
</head>

<body>
<nav> 
<ul>
<li><a href='/'>HOME</a></li>
<li><a href='/users'>USERS</a></li>
<li><a href='/search'>SEARCH</a></li>
<li><a href='/form'>ADD USER</a></li>
<ul>
</nav> 

    <h3>Please type either the first name or last name you are searching for!</h3>
    <br>
    <br>
    <form action="/result" method="post">
        First name: <input id="firstname" type="text" name="firstname">
        <ul id="fnAC"></ul>
        <br>
        Last name:<input id="lastname" type="text" name="lastname">
        <ul id="lnAC"></ul>
        <br>
        <input type="submit" value="Search">
    </form>

    <footer>
       <p> Made by morfsm </p>
    </footer>

    <script type="text/javascript">
    $("#firstname").on("input",(event)=>{
        var query = $("#firstname").val()
        $.post()
    });

        
    </script>

</body>

</html>