<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
<nav> 
<ul>
<li><a href='/'>HOME</a></li>
<li><a href='/users'>USERS</a></li>
<li><a href='/search'>SEARCH</a></li>
<li><a href='/form'>ADD USER</a></li>
<ul>
</nav> 

    <h3>Please type either the first name or last name you are searching for!</h3>
    <br>
    <br>
    <form action="/result" method="post">
        <div id="first"> 
        First name: <br>
        <input id="firstname" type="text" name="firstname">
        <ul id="fnAC"></ul>
        </div>
        <div id="last">
        Last name: <br>
        <input id="lastname" type="text" name="lastname">
        <ul id="lnAC"></ul>
        </div>
        <input type="submit" value="Search">
    </form>

    <footer>
       <p> Made by morfsm </p>
    </footer>

    <script type="text/javascript">
    $("#firstname").on("keyup",(event)=>{
        var queryfn = $("#firstname").val().toLowerCase()
        if(queryfn.length != 0){
        $.post('/search', {queryfn:queryfn}, (response)=>{
                $('#fnAC').empty();
                for (const el in response){
                $('#fnAC').append(`<li class='suggestionsF'>${response[el]}</li>`)
                }
        })
        $("#last").fadeOut();
    }else{
        $('#fnAC').empty();
        $("#last").fadeIn();
    }
    });

    $("#fnAC").on("click", "li", (event)=>{
            var target = event.target
            $("#firstname").val(target.textContent); 
 })

 $("#lastname").on("keyup",(event)=>{
        var queryln = $("#lastname").val().toLowerCase()
        if(queryln.length != 0){
        $.post('/search', {queryln:queryln}, (response)=>{
                $('#lnAC').empty();
                for (const el in response){
                $('#lnAC').append(`<li class='suggestionsL'>${response[el]}</li>`)
                }
        })
        $("#first").fadeOut();
    }else{
        $('#lnAC').empty();
        $("#first").fadeIn();
    }
    });

    $("#lnAC").on("click", "li", (event)=>{
            var target = event.target
            $("#lastname").val(target.textContent); 
 })

        
    </script>

</body>

</html>